#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'pry'
require 'pry-byebug'

preprocess do
end

compile '/' do
  puts "++++ Compile home"
  puts items
  filter_by_extension(item)
  layout 'home'
end

compile '/projects/*' do
  puts "------->>>>> Compile project #{item[:extension]}"
  nil
end

compile '*' do
  if item.binary?
    nil
  elsif item[:extension] == 'css'
    nil
  else
    item[:extension].split('.').reverse.each do |f|
      case f
      when 'md', 'markdown'
        filter :kramdown, coderay_tab_width: 3
      when 'erb'
        filter :erb
      end
    end
    layout 'default'
  end
end

route '*' do
  puts item.inspect
  if item[:extension] == 'css'
    # Write item with identifier /foo/ to /foo.css
    item.identifier.chop + '.css'
  elsif item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
